body{
   
    background-color:white;
  }
  .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

div#applyCoupon {
    padding: 0;
    padding-left: 0.3rem;
}
div#coupon {
    padding: 0;
}

div#checkout {
    float: right;
}

div#modal-left, div#modal-left2 {
    padding: 6rem;
}
h4.h4-responsive {
    text-align: center;
}
div#editItem , div#addItem {
    margin: auto;
    padding: 1rem;
    padding-bottom: 0rem;
}
button.btn.btn-primary {
    width: 8.4rem;
}
button.btn.btn-link.btn-sm {
    padding-left: 1.4rem;
}
div#carousel-thumb {
    padding: 1.5rem;
}


div#carouselExampleIndicators {
    padding: 3rem;
    margin-top: 105px;
}
div#shoppingBag {
    padding: 3rem;
}
.container.heading {
    padding-bottom: 3rem;
    padding-left: 0px;
}
div#cc {
    padding-right: 0;
}
span.totals-item  {
    font-weight: bold;
}
p.itemDetail {
    font-size: small;
}

button.btn.btn-link {
    padding: 0;
}

.btn-primary {
    color: #fff;
    background-color: black;
}

.btn-link {
    font-weight: 400;
    color:black;
    background-color: transparent;
}
    
a{
    color : black;
}

.card-img-top {
    height: 300px;
}



@media screen and (max-width: 450px) {
    h1{
        width: 100%;
        font-size: 1.7rem;
    }
    table#cart tbody td .form-control{
		display: inline !important;
	}
	 table#cart thead { display: none; }
	 table#cart tbody td { display: block; padding: .6rem; min-width:270px;}
	table#cart tbody td:before {
	     font-weight: bold;
		display: inline-block; width: 8rem;
	}
	td {
        text-align: -webkit-center;
    }
    .container.heading {
        width: max-content;
        padding: 0px;
    }
    .carouselContain{
        display: none;
    }
   
    div#codeSection {
        display: inline-block;
    }
    input.form-control {
        width: 8rem;
    }
}